# 1. Ігнорувати все
*

# 2. Не ігнорувати сам `.gitignore` (щоб він не пропав із репозиторію)
!.gitignore

# 3. Розблокувати (whitelist) окремі файли/теки, які потрібні:
#!Core/
#!Drivers/
#!MyImportantFile.md
!main.c
!STM32F411CEU6_BLACK_PILL_GPIO_speed_demo.ioc

# 4. Якщо потрібно, можна відмінити ігнорування файлів певного типу 
# (наприклад, конфігурацій .yaml):
#!*.yaml
